
@keyframes slide-left {
  0% {
    opacity: 0;
    right: -300px;
  }

  100% {
    right: 0;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    left: -500px;
    margin-right: 100%;
  }

  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes lucidout {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.93;
  }
}