@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Luckiest+Guy&family=Russo+One&family=Special+Elite&family=Syne+Mono&display=swap');
/* * {
    border: 1px white solid;
}
 */
$headerLucky: "Luckiest Guy",
'Segoe UI',
sans-serif;
$headerRusso: "Russo One",
sans-serif;
$textSyne: "Syne mono",
monospace;
$textPrimary: 'Inconsolata',
monospace;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$black: #000;
$darker: #222;
$white: #fff;
$lightgray: rgb(133, 133, 133);
$gray: rgb(82, 82, 82);
$brown: rgb(85, 58, 58);
$blue: blue;
$red: red;
$yellow: rgb(255, 247, 0);
$green: rgb(5, 124, 5);

body {
  font-family: $textPrimary;
  font-weight: $light;
  -webkit-text-size-adjust: 100%;
}