* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.jumbotron {
    background-color: rgb(194, 190, 190);
}

.card {
    background-color: rgb(177, 210, 211);
    overflow: hidden;
    max-width: 70%;
    margin: auto;
}

input,
button,
ul li {
    margin: auto;
    width: 75% !important;
    border: cadetblue 2px solid;
    box-shadow: cornflowerblue 2px 3px 5px;
    padding: 2% 5%;
    margin-top: 4%;
}

input {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

#mun,
#isin {
    padding: 6%;
}

#mun>img,
#isin>img {
    max-width: 400px;
}

p {
    font: 1.2em sans-serif;
}

#lopputulos {
    display: flex;
}

.mt-15 {
    margin-top: 15vh;
}

.anim {
    animation: anim 2s ease-in 0.3s;
    -webkit-animation: anim 2s ease-in 0.3s;
}


@keyframes anim {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }



    100% {
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
    }
}