* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.jumbotron {
    background-color: rgb(194, 190, 190);
}

.card {
    background-color: rgb(177, 210, 211);
    padding: 7%;
    overflow: hidden;
    max-width: 700px;
    margin: auto;
}

input,
button {
    border: cadetblue 2px solid;
    box-shadow: cornflowerblue 2px 3px 5px;
    padding: 2% 3%;
    margin-top: 4%;
}

input {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

#mun,
#isin {
    padding: 5%;
}

p {
    font: 1.2em sans-serif;
}

#lopputulos {
    display: flex;
}

.mt-15 {
    margin-top: 15vh;
}