@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Luckiest+Guy&family=Russo+One&family=Special+Elite&family=Syne+Mono&display=swap");
/* * {
    border: 1px white solid;
}
 */
/*Text Colors */
body {
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
}

section {
  background-color: black;
}

section#about {
  height: 100vh;
  background-color: #000;
  overflow-x: hidden;
}

section#about .jumbotron {
  height: 80%;
  background-color: black;
}

section#about .jumbotron .btn {
  margin-top: 5%;
}

section#gallery {
  height: 100vh;
}

section#gallery .carousel-inner {
  height: 85vh;
  object-fit: contain;
  max-width: 100%;
}

section#gallery .carousel-item {
  height: 100%;
  background: no-repeat center center scroll;
  background-size: cover;
}

section#gallery .h3-responsive {
  position: sticky;
  left: 40%;
  bottom: 105%;
  color: #fff;
  text-shadow: 12px 4px 7px #000;
}

section#contact {
  height: 100vh;
}

section#contact form {
  width: 30%;
  margin: auto;
}

section i.fab, section i.fas {
  font-size: 300%;
}

section#projects {
  width: 100%;
}

section#projects .img-fluid:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  opacity: 0.8;
}

section#projects .jumbotron {
  padding: 16%;
}

section#education {
  height: 100vh;
}

section#layout, section#about, section#gallery, section#projects, section#contact, section#education, section#skills {
  color: #fff;
  background-color: black;
  /*         text-transform: uppercase; */
  width: 100vw;
}

section#layout #typedtext, section#about #typedtext, section#gallery #typedtext, section#projects #typedtext, section#contact #typedtext, section#education #typedtext, section#skills #typedtext {
  font-family: "Russo One", sans-serif;
  text-shadow: #000 2px 1px 3px;
  font-size: 160%;
  position: absolute;
  z-index: -1;
  top: 35%;
  left: 10%;
}

section#layout #main__image, section#about #main__image, section#gallery #main__image, section#projects #main__image, section#contact #main__image, section#education #main__image, section#skills #main__image {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

section#layout .social__links, section#about .social__links, section#gallery .social__links, section#projects .social__links, section#contact .social__links, section#education .social__links, section#skills .social__links {
  position: absolute;
  flex-direction: row;
  width: 215px;
  grid-gap: 5%;
  right: 5%;
  top: 12%;
  list-style-type: none;
  display: flex;
}

section#layout .social__links i, section#about .social__links i, section#gallery .social__links i, section#projects .social__links i, section#contact .social__links i, section#education .social__links i, section#skills .social__links i {
  color: #fff;
  margin: 2%;
}

section#layout .social__links a, section#about .social__links a, section#gallery .social__links a, section#projects .social__links a, section#contact .social__links a, section#education .social__links a, section#skills .social__links a {
  cursor: pointer;
  font-family: "Russo One", sans-serif;
  font-size: 100%;
}

section#layout .social__links a:link, section#about .social__links a:link, section#gallery .social__links a:link, section#projects .social__links a:link, section#contact .social__links a:link, section#education .social__links a:link, section#skills .social__links a:link {
  color: #fff;
  color: #828282;
}

section#layout .social__links a:visited, section#about .social__links a:visited, section#gallery .social__links a:visited, section#projects .social__links a:visited, section#contact .social__links a:visited, section#education .social__links a:visited, section#skills .social__links a:visited {
  color: #1b7480;
}

section#layout .social__links a:hover, section#about .social__links a:hover, section#gallery .social__links a:hover, section#projects .social__links a:hover, section#contact .social__links a:hover, section#education .social__links a:hover, section#skills .social__links a:hover {
  text-shadow: #1b7a7e 3px 3px 2px;
}

section#layout .bg-black, section#about .bg-black, section#gallery .bg-black, section#projects .bg-black, section#contact .bg-black, section#education .bg-black, section#skills .bg-black {
  background: #000;
}

section#layout p#demo, section#about p#demo, section#gallery p#demo, section#projects p#demo, section#contact p#demo, section#education p#demo, section#skills p#demo {
  background-color: grey;
  color: blanchedalmond;
  display: inline-table;
  width: 35%;
}

section#layout .slide-left, section#about .slide-left, section#gallery .slide-left, section#projects .slide-left, section#contact .slide-left, section#education .slide-left, section#skills .slide-left {
  animation-duration: 5s;
  animation-name: slide-left;
  animation-iteration-count: ease;
  animation-direction: alternate;
}

section#layout .slide-right, section#about .slide-right, section#gallery .slide-right, section#projects .slide-right, section#contact .slide-right, section#education .slide-right, section#skills .slide-right {
  animation-duration: 5s;
  animation-name: slide-right;
  animation-iteration-count: ease-in;
  animation-direction: alternate;
}

section#layout .lucidout, section#about .lucidout, section#gallery .lucidout, section#projects .lucidout, section#contact .lucidout, section#education .lucidout, section#skills .lucidout {
  animation-duration: 7s;
  animation-name: lucidout;
  animation-iteration-count: ease;
  animation-direction: alternate;
}

section#layout .breadcrumb, section#about .breadcrumb, section#gallery .breadcrumb, section#projects .breadcrumb, section#contact .breadcrumb, section#education .breadcrumb, section#skills .breadcrumb {
  background-color: inherit;
  font-family: "Syne mono", monospace;
  font-size: 130%;
}

section#layout .breadcrumb .breadcrumb-item a, section#about .breadcrumb .breadcrumb-item a, section#gallery .breadcrumb .breadcrumb-item a, section#projects .breadcrumb .breadcrumb-item a, section#contact .breadcrumb .breadcrumb-item a, section#education .breadcrumb .breadcrumb-item a, section#skills .breadcrumb .breadcrumb-item a {
  color: #fff;
  font-family: "Syne mono", monospace;
}

section#layout .breadcrumb .breadcrumb-item a:active, section#about .breadcrumb .breadcrumb-item a:active, section#gallery .breadcrumb .breadcrumb-item a:active, section#projects .breadcrumb .breadcrumb-item a:active, section#contact .breadcrumb .breadcrumb-item a:active, section#education .breadcrumb .breadcrumb-item a:active, section#skills .breadcrumb .breadcrumb-item a:active {
  color: blue;
}

section#layout .copy, section#about .copy, section#gallery .copy, section#projects .copy, section#contact .copy, section#education .copy, section#skills .copy {
  position: relative;
  bottom: 0;
}

section#layout #myVideo, section#about #myVideo, section#gallery #myVideo, section#projects #myVideo, section#contact #myVideo, section#education #myVideo, section#skills #myVideo {
  background-attachment: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-position: center;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  filter: brightness(25%);
  -webkit-filter: brightness(25%);
}

section#layout #myVideo:after, section#about #myVideo:after, section#gallery #myVideo:after, section#projects #myVideo:after, section#contact #myVideo:after, section#education #myVideo:after, section#skills #myVideo:after {
  content: '';
  z-index: 1;
  position: relative;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    margin-left: 20%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    left: -500px;
    margin-right: 100%;
  }
  100% {
    opacity: 1;
    margin-right: 0%;
  }
}

@keyframes lucidout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.93;
  }
}
/*# sourceMappingURL=style.css.map */