@import 'variables';

section {
    background-color: $body-bg;


    &#about {
        height: 100vh;
        background-color: $black;
        overflow-x: hidden;

        & .jumbotron {
            height: 80%;
            background-color: $body-bg;

            & .btn {
                margin-top: 5%;
            }

        }
    }


    &#gallery {
        height: 100vh;



        & .carousel-inner {
            height: 85vh;
            object-fit: contain;
            max-width: 100%;
        }

        & .carousel-item {
            height: 100%;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }


        & .h3-responsive {
            position: sticky;

            left: 40%;
            bottom: 105%;
            color: $white;
            text-shadow: 12px 4px 7px $black;

        }


    }

    &#contact {
        height: 100vh;

        & form {
            width: 30%;
            margin: auto;

        }


    }

    i {

        &.fab,
        &.fas {
            font-size: 300%;
        }
    }

    &#projects {
        width: 100%;

        & .img-fluid {
            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                opacity: 0.8;
            }
        }

        & .jumbotron {
            padding: 16%;
        }


    }

    &#education {
        height: 100vh;
    }

    &#layout,
    &#about,
    &#gallery,
    &#projects,
    &#contact,
    &#education,
    &#skills {
        color: $white;
        background-color: $body-bg;
        /*         text-transform: uppercase; */
        width: 100vw;

        & #typedtext {
            font-family: $headerRusso;
            text-shadow: $black 2px 1px 3px;
            font-size: 160%;
            position: absolute;
            z-index: -1;
            top: 35%;
            left: 10%;
        }

        & #main__image {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0.3;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }


        & .social__links {
            position: absolute;
            flex-direction: row;
            width: 215px;
            grid-gap: 5%;
            right: 5%;
            top: 12%;
            list-style-type: none;
            display: flex;

            & i {
                color: $white;
                margin: 2%;
            }

            & a {
                cursor: pointer;
                font-family: $headerRusso;
                font-size: 100%;




                &:link {
                    color: $white;
                    color: rgb(130, 130, 130);
                }

                &:visited {
                    color: rgb(27, 116, 128);
                }

                &:hover {
                    text-shadow: rgb(27, 122, 126) 3px 3px 2px
                }
            }
        }

        & .bg-black {
            background: $black;
        }

        & p#demo {
            background-color: grey;
            color: blanchedalmond;
            display: inline-table;
            width: 35%;
        }

        & .slide-left {
            animation-duration: 5s;
            animation-name: slide-left;
            animation-iteration-count: ease;
            animation-direction: alternate;
        }

        & .slide-right {
            animation-duration: 5s;
            animation-name: slide-right;
            animation-iteration-count: ease-in;
            animation-direction: alternate;
        }

        & .lucidout {
            animation-duration: 7s;
            animation-name: lucidout;
            animation-iteration-count: ease;
            animation-direction: alternate;
        }

        .breadcrumb {
            background-color: inherit;
            font-family: $textSyne;
            font-size: 130%;


            & .breadcrumb-item {
                & a {
                    color: $white;
                    font-family: $textSyne;

                    &:active {
                        color: $blue;
                    }
                }
            }
        }

        .copy {
            position: relative;
            bottom: 0;
        }


        #myVideo {
            background-attachment: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100vw;
            background-position: center;
            object-fit: cover;
            z-index: -1;
            position: absolute;
            filter: brightness(25%);
            -webkit-filter: brightness(25%);

            &:after {
                content: '';
                z-index: 1;
                position: relative;
            }
        }
    }






    @keyframes slide-left {
        0% {
            opacity: 0;
            margin-left: 20%;
        }

        100% {
            margin-left: 0%;

        }

    }

    @keyframes slide-right {
        0% {
            opacity: 0;
            left: -500px;
            margin-right: 100%;
        }

        100% {
            opacity: 1;
            margin-right: 0%;

        }

    }

    @keyframes lucidout {
        0% {
            opacity: 0;

        }

        100% {
            opacity: 0.93;

        }

    }
}